ol.stepper {
  --default-b: lightgrey;
  --default-c: black;
  --active-b: rgb(15, 128, 0);
  --active-c: white;
  --circle: 3em;

  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 5px;
  padding: 2%;
  font-size: 12px;
  overflow: hidden;
}

ol.stepper li {
  display: grid;
  place-items: center;
  gap: 5px;
  text-align: center;
}

ol.stepper li i {
  width: var(--circle);
  height: var(--circle);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--active-b);
  color: var(--active-c);
  font-size: 1.5em;
  border: 1px solid #fff;
  box-sizing: border-box;
}

ol.stepper li.active ~ li i {
  background: var(--default-b);
  color: var(--default-c);
}

.body-stepper {
  background: #dedede;
  border: 0px;
  border-radius: 2%;
}
