  main{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: 0;
  }
  
/* Centraliza a área principal */
main.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ou 100vh se quiser ocupar toda a altura da tela */
  text-align: center;
}