/*CSS OFICIAL DE FORMULÁRIOS - SE SUA PÁGINA TEM UM FORMULARIO UTILIZE ESSE */

/* BASE PARA FORMULÁRIOS */
.formulario {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 1.5rem;
}

.formulario-largura { /*principal estilo da largura do formulario*/
    max-width: inherit !important; 
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.descricao-formulario{
    max-width: 900px;
    text-align: center;
}


/*FORM-GROUP -> cada campo utiliza esse na div propria*/
.form-group { 
    margin-bottom: 20px;
}

/* LABELS e Inputs */

 .form-group label {
    font-weight: var(--peso-titulo); /* Labels com peso de título */
    margin-bottom: 0.5rem;
    color: var(--cor-preta);
}

/* INPUTS BÁSICOS */
 .form-group input[type="text"],
 .form-group input[type="email"],
 .form-group input[type="file"],
 .form-group select,
 .form-group textarea {
    padding: 0.75rem;
    border: 1px solid var(--cabecalho-lista); /* Usando var para borda */
    border-radius: 8px;
    font-size: var(--tamanho-fonte-base);
    background-color: var(--cor-branca);
    transition: border-color 0.3s;
    width: 100%;
}

/*CAMPOS DE PREENCHIMENTO - SELECIONE*/

.form-group .input-data ,textarea, select {
    width: 100%;
    padding: 0.75rem;
    font-size: var(--tamanho-fonte-base);
    border: 1px solid var(--cabecalho-lista); /* Usando var */
    border-radius: 6px;
    box-sizing: border-box;
}

/* CAMPOS readOnly prenchidos com dados do user - cookies */
.form-group input[readOnly],
.form-group select[readOnly],
.form-group textarea[readOnly] {
    background-color: #e9ecef; /* Cinza desabilitado */
    cursor: not-allowed;
    border: 1px solid var(--cabecalho-lista);
    padding: 0.75rem;
    border-radius: 8px;
    font-size: var(--tamanho-fonte-base);
    color: #495057; /* Cinza mais escuro para o texto */
    width: 100%;
}

/* RESPONSIVIDADE GERAL */
@media (max-width: 600px) {
    .formulario {
        padding: 1rem;
    }
    .formulario .form-group {
        margin-bottom: 1rem;
    }
}