@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --cor-branca: white;
    --cor-preta: black;
    --verde-oficial:#148229;
    --verde-escuro:#00420C ;

    --fonte-oficial: "Open Sans", sans-serif;
    --peso-titulo: 700;
    --peso-paragrafo: 400;

    /* BOTÕES CORES*/

    --botao-deletar: #c01627;
    --botao-criar-enviar: #148229;
    --botao-editar: rgb(29, 92, 169);

    --botao-cancelar:#6c757d;

    --botao-enviar: #148229;

    /* LISTA */

    --link-azul:rgb(15, 118, 228);

    --laranja-lista:#F6C368;
    --cabecalho-lista:  linear-gradient(to bottom, #148229,#00420C);

    /* MENSAGEM DE ERRO*/

    --mensagem-erro: #dc3545;

    /* Novas variáveis para consistência de layout e texto */
    --largura-maxima-conteudo: 1200px; /* Unificado para o site inteiro */
    --padding-global: 20px; /* Padding padrão para containers */
    --altura-header: 80px; /* Altura aproximada, ajuste se necessário */
    --altura-footer: 60px; /* Altura aproximada, ajuste se necessário */

    --tamanho-fonte-base: 16px; /* Tamanho de fonte padrão */
    --tamanho-fonte-pequena: 14px;
    --tamanho-fonte-media: 18px;
    --tamanho-fonte-grande: 24px;
    --tamanho-fonte-titulo-secao: 2rem; /* Para h2 de seções */
}